/* Adding mostly use Font-family to the web page */
@font-face {
    font-family: mainFont;
    src: url(../Nudista/nudista.otf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../Nudista/nudista-bold.otf");
}

* {
    font-family: mainFont;
    margin: 0;
    padding: 0;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: visible;
    background-color: rgba(000, 000, 000,  1);
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left ;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 50px;
    margin-right: 1%;
}

.search-n:link {
    width: 18%;
    background-color: #FFBB02;
    color: black;
    margin-right: 5%;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    width: 11% ;
    /*font-size: 25px;*/
    font-weight: bold;
    margin-left: 22.4%;
    padding-bottom: 1%;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #FFBB02;
    color: black;
}

.header a:first-child:hover {
    background-color: #d39e00;
}

/* Style the active/current link*/
.header a.active {
    background-color: #FFBB02;
    color: #000;
}

/* Float the link section to the right */
.header-right {
    /*float: right;*/
    margin-left: 36%;
    margin-top: -8%;
    margin-bottom: 2%;
}


/* Dropdown Button */
.dropbtn {
    background-color: #FFBB02;
    color: #000;
    padding: 16px;
    font-size: 1.09em;
    border: none;
    border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(777, 777, 777, 1);
    min-width: 179%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    visibility: visible;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffdf7e;
    color: orangered;
}




/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 800px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;

    }
    .search-n {
    width: 8%;
    background-color: #FFBB02;
    color: black;
    margin-right: 1%;
    }
