/* Adding mostly use Font-family to the web page */
@font-face {
    font-family: mainFont;
    src: url(../Nudista/nudista.otf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../Nudista/nudista-bold.otf");
}

* {
    font-family: mainFont;
    margin: 0;
    padding: 0;
}

.header-nav {
    display: flex;
    background-color: rgba(000, 000, 000, 1);
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.header-logo {
    width: 100px;
    height: auto;

}

/*.header-link {*/
/*    align-self: center;*/
/*}*/

.anchor:link {
    text-decoration: none;
    color: #fff;
}

.anchor:active {
    text-decoration: none;
    color: #fff;
}

.anchor:visited {
    text-decoration: none;
    color: #fff;
}

.anchor:hover {
    text-decoration: none;
    color: #fff;
}

.anchor:link {
    text-decoration: none;
    color: #fff;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffdf7e;
    color: orangered;
}