@charset "UTF-8";
tbody tr .table-1 {
text-align: center;
font-family:"JetBrains Mono";
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 78.24px;
	background: linear-gradient(174deg, #FFBB02 7.93%, #BA3902 10.73%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
tbody tr .table-2 {
text-align: center;
font-family:"JetBrains Mono";
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 78.24px;
	background: linear-gradient(174deg, #FFBB02 7.93%, #BA3902 10.73%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
tr td .table-3 {
	color: #fff;
font-family:"JetBrains Mono";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
	
}

  th {
    text-align: center;
  }
tr td .img-fluid {
position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-right: 
}

table {
  width: 100%;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
}
body {
	background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
	margin-left: 50px;
}
tr td .table-4 {
	background: rgba(119, 119, 119, 0.25);
	color: #FFFFFF;
}
tbody tr .table-5 {
    text-align: right;
}
tr td .table-6 {
    border-radius: 20%;
    width: 250px;
    height: 50px;
}
tr td input {
    border-radius: 100px;
    height: 30px;
	
}
tr td .table-6 {
    border-radius: 100px;
	width: 300px;
	height: 100px;
}
tr td .img-fluid {
}
tr .table-5 input {
    border-radius: 100px;
    width: 100px;
    height: 35px;
	color: #FFFFFF
  
}
tr td input {
    width: 200px;
}
td .table-3 br {
}
tr td .table-7 {
    border-radius: 25%;
    width: 100px;
    height: 35px;
	color: #fff
}
tr .table-5 input:link {
    background:#BA3902;
}
tr .table-5 input:active {
    background:#BA3902;
}
tr .table-5 input:hover {
    background:#000;
}
tr .table-5 input:visited{
    background:#000;
}
tr td .table-7:link{
	background:#BA3902;
}
tr td .table-7:active{
	background:#BA3902;
}
tr td .table-7:hover{
	background:#000;
}
tr td .table-7:visited{
	background:#000;
}
/* Adding mostly use Font-family to the web page */
@font-face {
    font-family: mainFont;
    src: url(../Nudista/nudista.otf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../Nudista/nudista-bold.otf");
}

* {
    font-family: "mainFont";

}

footer {
    background-color: #000;
}

.first-Col {
    color: #fff;
    margin-left:2%;
    margin-top:2%;
    padding: 0.5%;
    display:inline-block;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:active {
    font-weight: bold;
}

a:visited {
    color: #ffffff;
    text-decoration:none;
}

a:hover {
    color: orangered;
}

.sec-Col {
    color: #fff;
    margin-left: 10%;
    display:inline-block;
}

.branch-info {
    display: inline-block;
    width: 20%;
    color: #fff;
    margin-left: 11%;
    margin-top: 0%;
    background-color: rgba(217, 217, 217, 0.1);
    padding-left:1%;
    padding-right:1%;
    position: relative;
}

/* Social media icons */

.social-icons{
    padding:30px;
    background-color:#000;
    text-align: center;
}
.social-icons a{
    color:#fff;
    line-height:30px;
    font-size:30px;
    margin: 0 5px;
    text-decoration:none;

}
.social-icons a i{
    line-height:30px;
    font-size:30px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.social-icons a:hover i{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.location {
    width: 30%;
    margin:0;
    padding:2%;
    display: inline-block;
    margin-left: 66%;
    margin-top: -30%;


}

.fb:hover {
    color: #1F4CEA;
}

.tweet:hover {
    color: #00b6fd;
}

.instagram:hover {
    color: orangered;
}

.youtube:hover {
    color: rgb(246,0,6);
}

.copyright {
    color: #fff;
    margin-left: 45%;
    padding-bottom: 1%;
}

.left-line {
    width: 100%;
    height: auto;
    color: #fff;
}
@media (max-width: 768px) {
  table {
    width: 100%;
  }
  th, td {
    padding: 5px;
  }
	tbody tr .table-1 {
text-align: center;
font-family:"JetBrains Mono";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 78.24px;
}
  th {
    text-align: center;
  }
	
  th {
    text-align: center;
  }
  th {
    text-align: center;
  }

tbody tr .table-2 {
text-align: center;
font-family:"JetBrains Mono";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 78.24px;
}
  table, th, td {
    display: block;
  }
	tr td .table-3 {
	color: #FFF;
    font-family:"JetBrains Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

  table {
    overflow-x: auto;
  }
	tbody tr .table-5 {
    text-align:center;
}

}
@media (min-width: 769px) and (max-width: 992px) {
  table {
    width: 100%;
  }
  th, td {
    padding: 5px;
  }
tbody tr .table-1 {
text-align: center;
font-family:"JetBrains Mono";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 78.24px;
}
  th {
    text-align: center;
  }
tbody tr .table-2 {
text-align: center;
font-family:"JetBrains Mono";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 78.24px;
}
  table, th, td {
    display: block;
  }
	tr td .table-3 {
color: #fff;
font-family:"JetBrains Mono";
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
  table {
    overflow-x: auto;
  }
}
tbody tr .table-5 {
    text-align:center;
}

}
