/* Adding mostly use Font-family to the web page */
@font-face {
    font-family: mainFont;
    src: url(../fonts/Nudista/nudista.otf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../fonts/Nudista/nudista-bold.otf");
}
* {
    margin: 0;
    padding: 0;
    color: #fff;
}

/*body {*/
/*    background: linear-gradient(105deg, #140040 42.99%, #000 91.3%);*/

/*}*/

.container {
    background-color: rgba(000,000,000, 1);
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-self: center;
    gap: 13%;
}

/*.search-box{*/

/*    background-color: #FFBB02;*/
/*    padding: 10px ;*/
/*}*/

.nav-titles a:link {
    text-decoration: none;
    color:#000000;
}

.nav-titles a:visited {
    text-decoration: none;
    color: #000000;
}

.nav-titles a:hover {
    text-decoration: none;
    color: #000000;
    /*font-weight: bold;*/
}

.nav-titles a:active {
    color: orangered;
    /*font-weight: bold;*/
}

.nav-titles {
    display: flex;
    align-self: center;
    font-size:1vw;
    gap: 35px;
}

.nav-titles a {
    background-color: #FFBB02;
    border-radius: 50px;
    align-self: center;
    padding: 16px;

}

.logo-img {
    width: 8%;
    height: auto;
    margin-left: -3%;

}

/*.search-div {*/
/*    display: flex;*/
/*    align-self: center;*/

/*}*/

/*.search-box {*/
/*!*    width: 170%;*!*/
/*!*    height: 20%;*!*/
/*    padding:6px;*/
/*    border-radius:20px;*/
/*    !*border: 0;*!*/
/*    font-size: 1.3vw;*/
/*    text-align: center;*/

/*}*/

/* Dropdown Button */
.dropbtn {
    background-color: #FFBB02;
    color: #000;
    padding: 16%;
    font-size: 1.09em;
    border: none;
    border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /*display: inline-block;*/
    /*margin-top: 3%;*/
    align-self: center;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(777, 777, 777, 1);
    min-width: 179%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    visibility: visible;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffdf7e;
    color: orangered;
}

@media screen and (min-width = "1000px") {





}


