/* Adding mostly use Font-family to the web page */
@font-face {
    font-family: mainFont;
    src: url(../fonts/Nudista/nudista.otf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../fonts/Nudista/nudista-bold.otf");
}
* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: mainFont;
}

body {
    background: linear-gradient(105deg, #140040 42.99%, #000 91.3%);
}

.up-border{
    background: rgba(0, 0, 0, 0.69);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vw ;

}
.tshirt-img{
    width: 50vw;
    height: 30vw;
}
.h1{
    color: #fff;
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    align-self:center ;
    justify-self: center;
}



table {
    background-color:#000 ;
    border: 0.2vw solid #000000;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 60vw;
    height: 35vw;



}
td{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border: 0.2vw solid #000000;
    color: #000000;
    background-color: #FFFFFF;
}




