/* Adding mostly use Font-family to the web page */
@font-face {
    font-family: mainFont;
    src: url(../Nudista/nudista.otf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../Nudista/nudista-bold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: mainFont;
}

body {
    background: linear-gradient(105deg, #140040 42.99%, #000 91.3%);
}

header {
    background-color: rgba(000,000,000, 0.5);
    height: 150px;
}
.search {
    width: 15%;
    height: auto;
    padding:0.5%;
    border-radius:20px;
    border: 0;
    font-size: 0.7vw;
    text-align: center;
    position: relative;
    margin-top: 3%;
    margin-left: 34%;
}

.Home{
    width: 10%;
    font-size: 1vw;
    border:0;
    padding:1% 2%;
    border-radius: 200px;
}

.Store {
    width: 10%;
    font-size: 1vw;
    border:0;
    padding:1% 2%;
    margin-left: 2%;
    border-radius: 200px;
}

.Contact {
    width: 20%;
    font-size: 1vw;
    border:0;
    padding:1% 2%;
    margin-left: 2%;
    border-radius: 200px;
}

.nav-buttons {
    margin-top: -6%;
    margin-left: 60%;
    font-weight: bold;
}

.Login {
    width: 10%;
    font-size: 1vw;
    border:0;
    padding:1% 2%;
    margin-left: 2%;
    border-radius: 200px;
}

.nav-buttons {
    position: relative;
    margin-top:-1.3%;
    margin-left: 53%;
}

.title-logo {
    width: 8%;
    height: auto;
    margin-left: 23.6%;
    position: absolute;
}

.main-banner {
    margin-left: 26%;
    margin-top:1%;
    margin-bottom: 2%;
    width:50%;
}

/* First Section */

.sub-title {
    font-size: 1.3vw;
    color: #fff;
    letter-spacing: 0.2cm;
    margin-left: 26%;
}

.first-sec {
    margin-bottom: 2%;
}

.winter {
    width:15%;
    height: auto;
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom:0.5%;

}

.winter-head {
    color: #fff;
    font-size:0.9vw;
    letter-spacing: 0.1cm;
    margin-left: 30%;
}

.sports {
    width:15%;
    height: auto;
    margin-left: 43.5%;
    margin-top: -16.6%;
    margin-bottom:0.5%;
    float: left;
}

.sports-head {
    color: #fff;
    font-size:0.9vw;
    letter-spacing: 0.1cm;
    margin-left: 47.5%;
    float: left;
    margin-top: -0.9%;
}

.summer {
    width:15%;
    height: auto;
    margin-left: 61%;
    margin-top: -16.5%;
    margin-bottom:0.5%;
    float: left;
}

.summer-head {
    color: #fff;
    font-size:0.9vw;
    letter-spacing: 0.1cm;
    margin-left: 65%;
    float: left;
    margin-top: -0.9%;
}

/* Second Section */

.sub-title2 {
        font-size: 1.3vw;
        color: #fff;
        letter-spacing: 0.2cm;
        margin-left: 26%;
}

.running {
    width:15%;
    height: auto;
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom:0.5%;
}

.running-head {
    color: #fff;
    font-size:0.9vw;
    letter-spacing: 0.1cm;
    margin-left: 27.5%;
}

.workout {
    width:15%;
    height: auto;
    margin-left: 43.5%;
    margin-top: -16.6%;
    margin-bottom:0.5%;
    float: left;
}


.workout-head {
    color: #fff;
    font-size:0.9vw;
    letter-spacing: 0.1cm;
    margin-left: 46.5%;
    float: left;
    margin-top: -0.9%;
}

.football {
    width:15%;
    height: auto;
    margin-left: 61%;
    margin-top: -16.5%;
    margin-bottom:0.5%;
    float: left;
}

.football-head {
    color: #fff;
    font-size:0.9vw;
    letter-spacing: 0.1cm;
    margin-left: 64%;
    float: left;
    margin-top: -0.9%;
}

footer {
    margin-top: 2%;
}