@font-face {
    font-family: mainFont;
    src: url(../Fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: mainFontBold;
    src: url("../Fonts/JetBrainsMono-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color:#fff;
    font-family: mainFont;
}


.topic{
    font-size: 40px;
    font-weight: bolder;
    background: rgba(119, 119, 119, 0.17);
    display: inline-block;

}
.topic1{
    margin: 0 50px;
}
.topic2{
    margin: 0 100px;
}

.logo{
    width: 150px;
    height: 200px;
}

body {
    background: linear-gradient(180deg, #140040 0%, rgba(0, 0, 0, 100) 100%);
}



p{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    line-height:0.7cm;
}

.container{
    text-align: center;
    margin: 10px auto;
    width: 800px;
}

.profile{
    border-radius: 282px;
    border: 7px solid #FFBB02;
    background: #D9D9D9;
    width: 200px;
    height: 200px;
    margin: 5px 30px;

}

.row1{
    display: block;
    margin-bottom:3%;
    margin-top: 30px;

}

.row2{
    display: block;
    margin-bottom:3%;

}

.row3{
    display: block;
    margin-bottom:3%;
}

.row4{
    display: block;
    margin-left: 34%;
    margin-bottom:3%;

}


