
body{
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
input{
    font-family: nudista;
    width: 380px;
    font-size: 30px;
    border-radius: 100px;
    background: #D9D9D9;
    text-align: center;
    height: 35px;

}
h1{
    font-family: Nudista;
    color: white;
    text-align: center;
    font-size: 80px;

}
h5{
    font-family: nudista;
    color: white;
    font-size: 80px;
}
.accordion {
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    margin-bottom: 16px;
    font-size: 80px;
  }

  .accordion-item {
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    position: relative;
    color:white;
  }

  .accordion-header {
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
  }

  .accordion-content {
    display: none;
    padding: 12px;
  }

  .accordion-button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
 h5{
    font-family: nudista;
    color: #D9D9D9;
 }
 p{
    font-family: nudista;

 }
table{
    color: white;
    font-size: 80px;
    
}
.search-input{
  width: 470px;

}

@media (max-width: 768px){
    
body{
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
input{
    font-family: nudista;
    width: 100px;
    font-size: 10px;
    border-radius: 100px;
    background: #D9D9D9;
    text-align: center;
    height: 20px;
}
h1{
    font-family: Nudista;
    color: white;
    text-align: center;
    font-size:30px;
}
h5{
    font-family: nudista;
    color: white;
    font-size:30px;
}
.accordion {
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    margin-bottom: 16px;
    font-size:30px;
  }

  .accordion-item {
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    position: relative;
    color:white;
  }

  .accordion-header {
    background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
  }

  .accordion-content {
    display: none;
    padding: 12px;
  }

  .accordion-button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
 h5{
    font-family: nudista;
    color: #D9D9D9;
 }
 p{
    font-family: nudista;

 }
table{
    color: white;
    font-size: 30px;

}
.search-input{
  width:200px;
  height: 25px;

}
    
}

@media (min-width: 769px) and (max-width: 992px){
    body{
        background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
        
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    input{
        font-family: nudista;
        width: 150px;
        font-size: 20px;
        border-radius: 100px;
        background: #D9D9D9;
        text-align: center;
        height: 25px;
    }
    h1{
        font-family: Nudista;
        color: white;
        text-align: center;
        font-size: 50px;
    }
    h5{
        font-family: nudista;
        color: white;
        font-size: 50px;
    }
    .accordion {
        background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
        margin-bottom: 16px;
        font-size: 50px;
      }
    
      .accordion-item {
        background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
        position: relative;
        color:white;
      }
    
      .accordion-header {
        background: linear-gradient(90deg, #140040 13.46%, #000 89.19%);
        padding: 12px;
        cursor: pointer;
        font-weight: bold;
      }
    
      .accordion-content {
        display: none;
        padding: 12px;
      }
    
      .accordion-button {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
      }
     h5{
        font-family: nudista;
        color: #D9D9D9;
     }
     p{
        font-family: nudista;
    
     }
    table{
        color: white;
        font-size: 50px;
}
.search-input{
  width: 325px;
  height: 35px;

}
}